// GENERAL 
body {
  font-family: Verdana, Geneva, sans-serif;
  background-color: #ededed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 1.2em;
}

input{
	box-sizing: border-box;
	height: 120%;
	padding: 1% 2%;
	width: 100%;
}

.navbar{
	border-radius: 0;
	padding: 0 2%;

	.navbar-nav > li > a {
		color: #fff;
		font-size: 1.5em;

		&:hover, &:focus {
			color: #ededed;
		}
	}
	

	&.navbar-default{
		background-color: #003471;
	}

	.dropdown-menu{
		width: 285px;
	}
}


.container-fluid {
	background-color: #fff;
	padding: 0;
}