.new-task {

}

.tasks-wrapper {
	box-sizing: border-box;
	width: 96%;
	margin: 2% 0 2% 2%;
	min-height: 50px;
	
	ul {
		list-style-type: none;	
		padding: 0px;
		margin: 0;

		.right {
			float: right;
		}

		.text.completed{
			text-decoration: line-through;
		}
	}
}




.delete {

}

span.move-today{
	// @extend .glyphicon;
	// @extend .glyphicon-hand-right;
	// content:"\e128";
}

span.move-tomorrow{
	content:"\e127";
}
